body{
    background-color: #ffddd3 !important;
}
.contanier{
    display: flex;
    flex-direction: row;
}
.right{
    width: 50%;
}
#dog_logo{
    width: 600px;
height:300px;  
position: absolute;
left: 180px;
}
.left{
    width: 50%;
    background-color: #FFF1EE;
    padding: 10px 0 ;
    height: 600px;
    border-radius: 16px 0 0 16px;
}
#googl_signup{
    background-color: white;
    padding: 10px;
}
.left_context{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_context label{
    display: block; /* Change display to block */
  width: 280px; /* Match input width */
  text-align: left; /* Align text to the left */
  margin-bottom: 5px; /* Add some bottom margin for spacing */
}
.left_context input{
    width: 280px;
    height: 20px;
    border: 0.5px solid white;
}

#image_logo{
    width: 120px;
   
}
button{
    background-color: #F2968F;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: red;
}


